<header class="single-header_new">

	<a href="/" title="Home"><img width="60" height="60" src="{{#if @blog.logo}}{{@blog.logo}}{{else}}/images/logo.png{{/if}}" title="{{@blog.title}}" /></a>
	{{#if @blog.title}}<h1><a href="/" title="{{@blog.title}}">{{@blog.title}}</a></h1>{{/if}}

</header>